* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #F5F5F5;
    margin: 0;
}

h1 {
    text-align: center;
    font-family: 'Arvo', serif;
}

h2 {
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h3 {
    font-size: 15px;
    color: #383838;
    padding-top: 25px;
    margin: 0;
}

footer {
    margin-top: 40px;
    border-top: solid #A0A0A0 1px;
    padding-top: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

footer a {
    text-decoration: none;
    color: black;
}

/* class selectors for specific parts of the page*/

/* navigation */
.nav-links {
    list-style: none;
    padding: 0;
    text-align: center;
    width: 100%;
}

.nav-links li {
    background-color: #fff;
    margin: 10px;
    padding: 10px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-links a {
    text-decoration: none;
    color:black;
}

/* introduction section */

.introduction img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    width: 65%;
}

.introduction p {
    text-align: center;
    margin: 0 10px 40px 10px;
    color: #707070;

}

/* portfolio projects, some skill section design */
.portfolio,
.skills {
    background-color: white;
}

.skills {
    padding-bottom: 20px;
}

.portfolio h2 {
    padding: 40px 0;
    margin: 0;
}

.portfolio-projects {
    text-align: center;
    padding-bottom: 20px;
}

.portfolio-projects p {
    text-align: center;
    font-size: 0.9375em;
    padding: 0 10px 15px 10px;
    color: #585858;
}

.portfolio-projects img {
    width: 100%;
}

/* skills section */

.skills p {
    text-align: center;
    font-size: 0.9375em;
    padding: 0 10px 5px 10px;
    color: #585858;
}

.skills h2 {
    padding-top: 40px;
    margin-top: 30px;
}

.skills h3 {
    text-align: center;
    margin: 0;
}

/* contact section */

.contact h2 {
    padding-top: 35px;
    padding-bottom: 20px;
}

.contact p {
    font-size: 0.9375em;
    color: #585858;
    text-align: center;
    margin: 0 10px 10px 10px;
}

.contact-methods {
    margin-top: 25px;
}

/* footer */

.footer-links-tablet {
    display: none;
}


/* media queries */

@media (min-width: 768px) {

/* header */
    h1 {
        font-size: 25px;
        margin-top: 50px;
        margin-bottom: 0;
    }

    .nav-links {
        font-size: 15px;
        margin-top: 0;
        margin-bottom: 30px;
    }

    .nav-links li {
        display: inline-block;
        background-color: transparent;
    }
 
/* introduction */

    .introduction {
        padding-bottom: 40px;
    }

    .introduction p {
        width: 60%;
        line-height: 25px;
        text-align: left;
        margin-left: 30px;
    }

    .introduction img {
        float:right;
        width: 35%;
        margin: 0;
        padding-right: 30px;
        padding-left: 15px;
    }
/* portfolio projects */

    .portfolio {
        padding-bottom: 30px;
    }

    .marketing-project {
        float: left;
        width: 45.5%;
        margin-left: 25px;
   }

    .search-page {
        float: right;
        width: 45.5%;
        margin-right: 25px;
    }

    .travel-app {
        float: left;
        width: 45.5%;
        margin-left: 25px;
    }

    .map-project {
        float: right;
        width: 45.5%;
        margin-right: 25px;       
    }

    .photo-gallery {
        float: left;
        width: 45.5%;
        margin-left: 25px;
    }

    .calculator {
        float: right;
        width: 45.5%;
        margin-right: 25px;     
    }

    /* skills section */

    /* .skill-css,
    .skill-html,
    .skill-javascript {
        flex-direction: row-reverse;
        flex-wrap: nowrap;
    } */


    /* .skill-css,
    .skill-html,
    .skill-javascript {
        width: 30%;
        border: solid grey 1px;
        padding-bottom: 20px;
        margin-bottom: 40px;
    }
    
    .skill-css {
        float: left;
        margin-left: 25px;
    }
    
    .skill-html {
        float: left;
        margin-left: 5px;
        margin-right: 5px;
    }


    
    .skill-javascript {
        float: right;
        margin-right: 25px;
    } */

    /* contact */


    .contact p {
        width: 55%;
        margin: auto;
        line-height: 25px;
    }

    .contact-methods p {
        line-height: 35px;
    }

/* footer */

    .footer-links-mobile {
        display: none;
    }

    .footer-links-tablet {
        display: block;
        text-decoration: none;
        list-style: none;
        letter-spacing: 1px;
        text-align: right;
        width: 50%;
    }

    .footer-links-tablet li {
        display: inline-block;
        padding: 0 10px;
        text-transform: uppercase;
        font-size: 15px;
    }

    .footer-alice-landroe-btn {
        margin: 16px 0;
    }

    footer {
        margin-top: 47.45px;
    }


/* clearfix */

    .clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
}

@media (min-width: 1024px) {

/* introduction */

.introduction img {
    margin-right: 50px;
    padding-left: 40px;
}

.introduction p {
    font-size: 20px;
    margin-left: 60px;
    width: 54%;
}

/* portfolio projects */

.portfolio {
    margin: 0 20px 30px 20px;
}

.portfolio-projects {
    margin: 0 20px;
    padding: 0 5px;
}

.portfolio-projects p {
    margin-bottom: 30px;
    
}

.marketing-project {
    float: left;
    width: 32%;
    padding: 0;
    margin: 0; 
}

.search-page {
    float: left;
    width: 32%;
    margin: 0 2%;
}

.travel-app {
    float: right;
    width: 32%;
    padding: 0;
    margin: 0; 
}

.map-project {
    float: left;
    width: 32%;  
    padding: 0;
    margin: 0;    
}

.photo-gallery {
    float: left;
    width: 32%;
    margin: 0 2%;
}

.calculator {
    float: right;
    width: 32%; 
    margin: 0;  
}
/* contact section */

.contact p {
    width: 35%;
    margin: 0 auto;
}


}